selection-tree .chip {
    border-radius: 16px;
    background-color: lightgray;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: default;
    display: inline-block;
}

selection-tree #field.withData:not(.chip) {
    cursor: pointer;
}
selection-tree #field.readonly:not(.chip) {
    cursor: not-allowed;
}
selection-tree #field.withoutData:not(.chip) {
    cursor: text;
}

selection-tree #field {
    position: relative;
    height: auto;
    min-height: 49px;
    line-height: 30px;
}

selection-tree #textfield:focus {
    outline-color: transparent;
}

selection-tree .md-panel {
	position: absolute;
}